body {
    @include body-font;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.lead {
  @include lead-font;
}

a {
  color: $primary;
  transition: .5s;
}

* + .container {
  margin-top: 2rem;
}

header + .container {
  margin-top: 4rem;
}

main article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// .btn-xl {
//   @include heading-font;
//   text-transform: uppercase;
//   padding: 1.5rem 3rem;
//   font-size: 0.9rem;
//   letter-spacing: 0.1rem;
// }