@mixin heading-font {
font-family: 'Merriweather', serif;
font-weight: 700 !important;
}

@mixin body-font {
  font-family: 'Lato', sans-serif; 
  font-size: 1rem !important;
}

@mixin body-font-wide {
  @include body-font;
  line-height: 2;
}

@mixin lead-font {
  @include body-font;
  font-weight: 300 !important;
}

@mixin transition($prop, $secs) {
  -webkit-transition: $prop $secs ease-out;
  -moz-transition: $prop $secs ease-out;
  -o-transition: $prop $secs ease-out;
  transition: $prop $secs ease-out;
}