.navbar-title {
  width: 350px;
}

.nav-item {
  cursor: pointer;
}

.navbar  {
  background-color: $primary;
  @include cubic-transition(all, 0.8s);
}

.navbar-brand {
  @include heading-font;
  font-size: calc(4vw + 4vh + 2vmin);
  width: 100%;
  display: block;
  line-height: 2rem;
}

.navbar-text {
  display: block;
  width: 100%;
  font-size: calc(2vw + 2vh + 1vmin);
  line-height: 1rem;
  padding-top: 0.25rem;
}

nav[nav-type="expanded"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  // height: 130px;
}

nav[nav-type="mini"] {
  padding-top: .5rem;
  padding-bottom: .5rem;
  // height: 80px;
}