.nav-item {
  cursor: pointer;
}

.navbar  {
  background-color: $primary;
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

.navbar-brand {
  @include heading-font;
  transition: all 2s cubic-bezier(.25,.8,.25,1);
}

.navbar-full {
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  height: 130px;
}

.navbar-shrink {
  // padding-top: .5rem;
  // padding-bottom: .5rem;
  height: 80px;
}