/* CSS injected into scraped Google Calendar */

.view-cap, .view-container-border {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mv-daynames-table {
    color: white;
    background: black;
}

.mv-event-container {
    border-top: 1px solid black;
}

.st-bg {
    border-left: none;
}

.st-dtitle {
    border: none;
    background:white;
}

.today-button {
}
