---
---

@import "{{ site.theme }}";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25%;
    grid-template-areas:
        "president vice-president secretary"
        "treasurer mentorship-chair webmaster";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
}