---
layout: default
---
<div class="row">
  <div class="col-sm-8 offset-sm-2 text-center">
    {{ content }}
  </div>
</div>
<div class="row" style="display:flex; justify-content: space-around;">
    {%- for role in site.data.eboard -%}
      <div class="col-lg-4 card px-3 m-3">
        <img class="img-fluid rounded-circle profile my-5 mx-auto"
          src="{{ 'assets/img/' | prepend: site.baseurl | append: role.photo }}" 
          alt="{{ role.name }}"/>
        <h5 class="text-center">{{ role.name | escape }}</h5>
        <h4 class="lead text-center">{{ role.position | titlecase | escape }}</h4>
        <p class="text-justify px-3">{{ role.bio | escape }}</p>
        <hr />
        <span class="text-center mb-3"><a href="mailto:{{ role.email }}"><i class="fas fa-envelope"></i> : {{ role.email }}</a></span>
      </div>
    {%- endfor -%}
</div>
