<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content container" aria-label="Content">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          {{ content }}
        </div>
      </div>
      <div class="row">
          {%- for role in site.data.eboard -%}
            <div class="col-sm-4 px-3">
              <img class="img-fluid" src="{{ assets/img/{{ role.photo }}" | escape | prepend:site.baseurl }} />
              <h4 class="text-center">{{ role.position | titlecase | escape }}, {{ role.name | titlecase | escape }}</h4>
              <p>{{ role.bio | escape }}</p>
            </div>
          {%- endfor -$}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
