---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <article class="post">
  
          <header class="post-header" itemprop="name headline">
            <h1 class="post-title">{{ page.title | escape }}</h1>
            <p class="post-meta">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                Published {{ page.date | date: date_format }}
              </time>
              {%- if page.author -%}
                • By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
              {%- endif -%}</p>
          </header>
        
          <div class="post-content text-justify">
            
            {{ content }}
          
          </div>
        
        </article>
    </div>
  </div>
  
  {%- if page.script -%}
  <script src="{{ page.script | relative_url }}"></script>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
